<h2 class="text-center">Diagrama ER Database</h2>


<p class="text-center">Este es el diagrama de entidad relacion para el ejemplo 2 sobre  la
app de anuncios</p>

<%= link_to image_tag("example_2_hogaru.png", alt: "ER-Diagram", class: "thumbnail"), "/about" %>